$color-white: #fff;
$color-black: #000;
$color-green: #39a38f;
$f-regular: 'open_sansregular', sans-serif;
$f-exbold: 'open_sans_extraboldregular', sans-serif;

//Colors
$color-1--1: #303263;
$color-1--2: #f6ae48;
$color-1--3: #00b9e7;
$color-1--4: #66bf0d;

html {
    font-size: 62.5%;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: $typo-1;
    background: $color-white;
    width: 100%;

}

%font-regular {
    font-family: $f-regular;
    font-size: 10px;
    color: $color-white;
}

%clearfix {
    &::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
}

div {
    box-sizing: border-box;
}

.site-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    max-width: 126rem;
    margin: 0 auto;
    padding: 0 1rem;

    @include breakpoint(medium down) {
        max-width: 98rem;
        padding: 0 2rem;
    }

    @include breakpoint(small down) {
        max-width: 100%;
        padding: 0 1rem;
    }

    &.-xs {
        max-width: 110rem;
    }
}
