{% set title = 'Главная' %}
{% extends 'layouts/_layout.njk' %}

{% block content %}
    {% include 'partials/_about.njk' %}
    {% include 'partials/_credo.njk' %}
    {% include 'partials/_development.njk' %}
{% endblock %}
