{% from './partials/_adaptate.njk' import contentWithImageSection with context %}

{% set title = 'Главная' %}
{% extends 'layouts/_layout.njk' %}

{% block content %}
    {% include 'partials/_about.njk' %}
    {% include 'partials/_credo.njk' %}
    {% include 'partials/_development.njk' %}
    {% include 'partials/_seo.njk' %}
    {% include 'partials/_portfolio.njk' %}
    {{ contentWithImageSection() }}
    {% include 'partials/_tradein.njk' %}
    {{ contentWithImageSection(
title = 'Забота о каждом',
teaser = 'Рожденный в нашей студии проект обречен
на пожизненную поддержку. Мы обучим вас
ведению сайта, обновим контент и настроим
продвижение в любой момент. Каждая деталь
вашего бизнеса является составляющим звеном
нашей студии. И мы позаботимся о вас.',
image = 'care.png',
titleBefore = 'Be careful') }}
    {% include 'partials/_contact.njk' %}
{% endblock %}
