<section class="about" id="about">
    <div class="container">
        <div class="about__intro">
            <h2 class="about__title">Студия <span>"Site Start"</span></h2>
            <p class="about__teaser">Основная специализация — проектирование сайов и landing page.<br>
                Наша команда, состоящая из дизайнеров, маркетологов и программистов,
                поддерживает каждый проект на протяжении всей его жизни. Студия
                занимается разработкой индивидуального дизайна, оптимизацией
                скорости работы продукта, предоставляет услуги по продвижению сайтов.
            </p>
        </div>
        <div class="about__offer offer">
            <ul class="offer__list">
                {% set offers = [
                    ['Старт', 'Вы хотите получать больше клиентов
и прибыли из интернета? С нуля разработаем
сайт любой сложности,учитывая индивидуальные
особенности вашего бизнеса. Стоимость создания
сайта в каждом конкретном случае индивидуальна
и рассчитывается исходя из пожеланий и
требований клиента.', 'от 5000 грн'],
                    ['Продвижение', 'Одним из важнейших этапов продвижения
сайта является поисковая оптимизация (SEO),
которая представляет собой комплекс мер по
повышению позиции сайта в поисковых
системах, и, таким образом, позволяет
увеличить его целевую посещаемость.', 'от 3000 грн'],
                    ['Поддержка', 'У Вас уже работающий бизнес и Вы
регулярно нуждаетесь в услугах веб-студии
но брать сотрудника в штат и оборудовать
дополнительное рабочее место не выгодно?
Мы готовы взять эти проблемы на себя и
предоставлять нужные услуги  удаленно.', 'от 1000 грн']
                ] %}

                {% for title, teaser, price in offers %}
                    <li class="offer__item">
                        <h3 class="offer__title">{{ title }}</h3>
                        <p class="offer__teaser">{{ teaser }}</p>
                        <p class="offer__price">{{ price }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
