<section class="contact" id="contacts">
    <div class="container contact__container">
        <div class="contact__wrapper">
            <div class="contact__content">
                <h2 class="contact__title">Свяжитесь с нами</h2>
                <p class="contact__teaser">Готовы начать работу? Отправьте
                    сообщение и свои контакты, мы
                    ответим вам в течении 2-ух дней.
                    Схема работы с каждым клиентом
                    будет разработана индивидуально
                    в зависимости от поставленных задач.</p>
            </div>
            <form action="" class="contact__form">
                <fieldset class="contact__fieldset">
                    <legend class="hidden">Форма обратной связи</legend>
                    <div class="contact__fields">
                        <div class="contact__field">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="contact__field">
                            <input type="text" placeholder="Ваша фамилия">
                        </div>
                        <div class="contact__field">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="contact__field">
                            <textarea name="textarea" placeholder="Введите Ваше сообщение"></textarea>
                        </div>
                    </div>
                </fieldset>
                <p class="contact__help-text">Наши специалисты свяжутся с вами как можно скорее</p>
                <a href="#" class="btn contact__btn">Отправить</a>
            </form>
        </div>
    </div>
</section>
