<section class="credo">
    <picture class="credo__image">
        <img src="../../images/credo.jpg" alt="">
    </picture>
    <div class="credo__content">
        <div class="container -xs">
            <h2 class="credo__title">Кредо нашей компании</h2>
            <p class="credo__teaser">
                Мы хотим, чтобы Ваш бизнес был еще успешней и прибыльней. В нашем понимании
                качественный продукт — это достижение гармонии между эстетикой и
                маркетинговыми целями. Высокий уровень контроля качества, опыт
                работы и креативный подход к решению задач — залог
                нашего успеха.
            </p>
        </div>
    </div>
</section>
