<div class="container footer__container">
    <div class="footer__copyright">
        <p>© "Site Start" 2020 г. Все права защищены.</p>
    </div>
    <nav class="footer__links">
        <ul class="footer__links-list">
            {% set links = ['О нас', 'Услуги', 'Наши работы', 'Контакты'] %}
            {% for link in links %}
                <li><a href="#">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
