<section class="seo">
    <div class="container">
        <div class="seo__wrapper">
            <div class="content">
                <h2 class="content__title">Первые в поиске</h2>
                <p class="content__teaser">Мы предлагаем услуги по SEO продвижению
                    сайтов в ведущих поисковых системах Yandex
                    и Google. Поисковое продвижение сайта в
                    нашей веб-студии — это гарантированное
                    присутствие на лидирующих позициях и
                    привлечение необходимой аудитории.</p>
            </div>
            <div class="seo__images">
                <div class="seo__image"><img src="./images/google-ads.jpg" alt="Google Ads"></div>
                <div class="seo__image"><img src="./images/yandeks-direct.png" alt="Yandex Direct"></div>
            </div>
        </div>
    </div>
</section>
