<section class="tradein">
    <div class="container tradein__container">
        <h2 class="tradein__title">Trade-in</h2>
        <div class="tradein__wrapper">
            <ul class="tradein__list">
                {% set tradeIn = [
                    ['Программа', 'Если Вы решили обновить свой сайт или
интернет-магазин, то программа трейд-ин
именно то, что Вам нужно.Благодаря
данной программе, Вы сможете приобрести
новый сайт с минимальными вложениями,
при этом утилизировав старый. Вам лишь
нужно связаться с нашим отделом трейд-ин
по телефону 8 (499) 390 6083, отправить
письмо на адрес www@trofimov.org, либо
разместить заявку на сайте.'],
                    ['Процесс работы', 'Мы делаем предварительную оценку,
параллельно, с Вами согласовываем
веб интерфейс и систему управления,
и если Вас все устраивает, заключаем
договор. При этом Вам не придется
останавливать работу в интернете, так
как передача Вашего сайта осуществляется
только после разработки нового. Тем самым
Вы экономите не только время, но и деньги.'],
                    ['Условия', 'Вам нужно предоставить максимум информации
о предоставляемом интернет-проекте, которое
Вы хотите обновить.Данная информация
поможет нам в кратчайшие сроки рассмотреть
Ваш запрос и дать положительный ответ. Для
этого, убедительно просим Вас, присылать
информацию на Вашем фирменном бланке с
печатью, а так же фотографии домена и
хостинга.']
                ] %}
                {% for title, teaser in tradeIn %}
                    <li class="tradein__item">
                        <h3 class="tradein__item-title">{{ title }}</h3>
                        <p class="tradein__item-teaser">{{ teaser }}</p>
                    </li>
                {% endfor %}
            </ul>
            <a href="#" class="btn tradein__btn">Оценить мой сайт</a>
        </div>
    </div>
</section>
